<%= render 'admin/dashboards/admin_nav' %>

<section>
  <div class = "invoices_info">
    <h2>Invoice #<%="#{@invoice.id}"%> </h2>
      <p>Status: <%= @invoice.status.capitalize %></p><br>
      <p>Created on: <%= @invoice.date %></p><br>
      <p>Customer: <%= @invoice.customer_name %></p><br>
      <p>Total Revenue: $<%= number_with_precision((@invoice.total_revenue).to_f, precision: 2)%></p><br>
    </div> 
 </section> 

  <section>
  <div class = "invoices_item_info">
    <h2>Items on this invoice:</h2>
      <% @all_inv_items.each do |inv_item| %>
      <p>Item Name: <%= inv_item.item.name %></p>
      <p>Quantity: <%= inv_item.quantity %></p>
      <p>Price: <%= number_to_currency(inv_item.unit_price) %></p>
      <p>Status: <%= inv_item.status.capitalize %></p><br>
      <% end %>
    </div> 
 </section> 
 
 <section>
  <div class = "select_status">
    <%= form_with model: @invoice, url: admin_invoice_path(@invoice), local: true do |form| %>
      <strong><%=form.label "Status" %><br></strong>
 
      <%=form.radio_button :status, "completed" %> completed <br> 
      <%=form.radio_button :status, "in progress" %> in progress <br>
      <%=form.radio_button :status, "cancelled" %> cancelled <br>
      
      <%= form.button "Update Invoice Status"%>
    <% end %>
  </div>
 </section>

