<%= render 'admin/dashboards/admin_nav' %>

<section>
  <div class = "invoices_info">
    <h2>Invoice #<%="#{@invoice.id}"%> </h2>
      <p>Status: <%= @invoice.status.capitalize %></p><br>
      <p>Created on: <%= @invoice.date %></p><br>
      <p>Customer: <%= @invoice.customer_name %></p><br>
    </div> 
 </section> 

 <section>
  <div class = "invoices_item_info">
    <h2>Items on this invoice:</h2>
      <% @invoice.invoice_items.each do |inv_item| %>
        <%# require 'pry'; binding.pry %>
        <% end %>
      <p>Item Name: <%= @inv_item.item.name %></p><br>
      <p>Quantity: <%= @inv_item.quantity %></p><br>
      <p>Status: <%= @inv_item.status.capitalize %></p><br>
      <p>Created on: <%= @inv_item.date %></p><br>
    </div> 
 </section> 
