<%= render 'admin/dashboards/admin_nav' %>

<h1> Update <%=@merchant.name%> </h1>

<div class = "update_merchant_form">
  <%= form_with model: @merchant, url: "/admin/merchants/#{@merchant.id}", method: :patch, local: true do |form| %>
    <%= form.label :name, "Name" %>
    <%= form.text_field :name %>

    <%= form.hidden_field :status %>

    <%= form.button "Submit"%>
  <% end %>
</div>