<%= render 'admin/dashboards/admin_nav' %>

<h1> Merchants </h1>

<div class = "merchant_names">

  <% @merchants.each do |merchant| %>
  <div id = <%= "merchant_id #{merchant.id}"%>>
      <ul>
        <li><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></li>
        <p>Status: <%= merchant.status %></p>
      </ul>
  </div>
  <% end %>

  <div class = "enabled_merchants" >
    <h3> Enabled Merchants </h3>
    <% @merchants.enabled_merchants.each do |merchant| %>
      <div id= <%= "enabled_merchant_id#{merchant.id}"%>>
        <ul>
         <li> <%= merchant.name %> </li> 
         <p>Status: <%= merchant.status %></p>
         <p> <%= button_to "Disable", admin_merchant_path(merchant.id), params: {status: "Disabled"}, method: :patch %></p>
        </ul>
    </div>
    <% end %>
  </div>

  <div class = "disabled_merchants" >
    <h3> Disabled Merchants </h3>
     <% @merchants.disabled_merchants.each do |merchant| %>
      <div id = <%= "disabled_merchant_id#{merchant.id}"%>>
        <ul>
          <li> <%= merchant.name %> </li> 
          <p>Status: <%= merchant.status %></p>
          <p> <%= button_to "Enable", admin_merchant_path(merchant.id), params: {status: "Enabled"}, method: :patch %></p>
        </ul>
    </div>
    <% end %>
  </div>

  <div class = "top_5_merchants" >
    <% @merchants.top_5_merchants_by_revenue.each do |merchant| %>
      <ul>
        <li><%= link_to "#{merchant.name}", admin_merchant_path(merchant) %></li>
        <p>Total Revenue: <%= number_to_currency(merchant.total_revenue)%></p><br>
        <p>Top selling date for <%=merchant.name%> was <%=merchant.date_with_most_revenue.strftime("%A, %B %d, %Y")%></p>
      </ul>
    <% end %>  
  </div>

  <%= link_to "Create New Merchant", "/admin/merchants/new"%>
</div>