<h1><%= @merchant.name %>'s Items</h1>
<% @items.each do |item| %>
 <div id = <%= "item_id-#{item.id}"%>>
  <p><%=link_to item.name, merchant_item_path(@merchant, item) %></p>
  <p>Item Status: <%= item.status %>
  <p><%= button_to "Enable #{item.name}", merchant_item_path(@merchant, item), params: {status: "Enabled"}, method: :patch %></p>
  <p><%= button_to "Disable #{item.name}", merchant_item_path(@merchant, item), params: {status: "Disabled"}, method: :patch %></p>
 </div>
 <%end%> 