<h1><%= @merchant.name %>'s Items</h1>
<nav><%= link_to "New Item", new_merchant_item_path(@merchant)%></nav>
<div class = "enabled_items" >
    <h3> Enabled Items </h3>
    <% @items.enabled_items.each do |item| %>
      <div id= <%= "enabled_item_id-#{item.id}"%>>
        <ul>
         <li> <%=link_to item.name, merchant_item_path(@merchant, item) %></li> 
         <p>Item Status: <%= item.status %></p>
         <p> <%= button_to "Disable #{item.name}", merchant_item_path(@merchant, item), params: {status: "Disabled"}, method: :patch %></p>
        </ul>
    </div>
    <% end %>
  </div>

  <div class = "disabled_items" >
    <h3> Disabled Items </h3>
    <% @items.disabled_items.each do |item| %>
      <div id= <%= "disabled_item_id-#{item.id}"%>>
        <ul>
         <li><%=link_to item.name, merchant_item_path(@merchant, item) %></li> 
         <p>Item Status: <%= item.status %></p>
         <p> <%= button_to "Enable #{item.name}", merchant_item_path(@merchant, item), params: {status: "Enabled"}, method: :patch %></p>
        </ul>
    </div>
    <% end %>
  </div>

  <section>
<div class = 'top_5_items' >
  <h2>Top 5 Most Popular Items</h2>
    <ul>
    <%@item.top_5_items.each do |item|%>
    <div id= 'top_5_items-<%=item.id%>'>
      <li><%= link_to item.name, merchant_item_path(@merchant, item)%> Total Revenue Generated: <% ' ' %> $<%=item.total_revenue. %></li>
      <%end%>
      </ul>
    </div>
  </div>
</section>