<nav><%= render partial: "./shared/merch_links" %></nav>
<h1><%= @merchant.name %>'s Items</h1>
<nav><%= link_to "New Item", new_merchant_item_path(@merchant)%></nav>
 <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .top_5_items{
    float: right;
    width: 50%;
    }
    </style>

<section>
  <div class = 'top_5_items' , float: right>
    <h2>Top 5 Most Popular Items</h2>
      <ul>
      <%@merchant.top_5_items.each do |item|%>
      <div id= 'top_5_items-<%=item.id%>'>
        <p><%= link_to item.name, merchant_item_path(@merchant, item)%> Total Revenue Generated: <% ' ' %> <%=number_to_currency(item.total_revenue) %></p>
        <p>Top selling date for <%= item.name%> was <%= item.invoice_items.top_sales_date.strftime("%A, %B %d, %Y") %></p>
        <%end%>
      </ul>
    </div>
  </div>
</section>

<section>
  <div class = "enabled_items", float: left >
    <h2> Enabled Items </h2>
      <% @items.enabled_items.each do |item| %>
        <div id= <%= "enabled_item_id-#{item.id}"%>>
          <ul>
          <li> <%=link_to item.name, merchant_item_path(@merchant, item) %></li> 
          <p>Item Status: <%= item.status %></p>
          <p> <%= button_to "Disable #{item.name}", merchant_item_path(@merchant, item), params: {status: "disabled"}, method: :patch %></p>
          </ul>
        </div>
         <% end %>
    </div>

  <div class = "disabled_items", float: left  >
    <h2> Disabled Items </h2>
    <% @items.disabled_items.each do |item| %>
      <div id= <%= "disabled_item_id-#{item.id}"%>>
        <ul>
         <li><%=link_to item.name, merchant_item_path(@merchant, item) %></li> 
         <p>Item Status: <%= item.status %></p>
         <p> <%= button_to "Enable #{item.name}", merchant_item_path(@merchant, item), params: {status: "enabled"}, method: :patch %></p>
        </ul>
    </div>
    <% end %>
    </div>
  </section>