<h3>Admin Dashboard</h3>

<%= link_to "Admin Merchants", "/admins/merchants" %>
<%= link_to "Admin Invoices", "/admins/invoices" %>

<section>
  <div class = "top_five_customers">
  <h2>Top 5 Customers</h2>
    <ul>
    <% @top_five_customers.each do |customer| %>
    <div id= 'top_five_customers-<%=customer.id%>'>
    <li><%= customer.first_name  %><% ' ' %> <%= customer.last_name %> <%= ' - ' %><%= customer.top_successful_transactions %> </li>
     <% end %>
    </ul> 
   </div> 
 </section> 

   <section>
  <div class = "incomplete_invoices">
  <h2>Incomplete Invoices</h2>
    <ul>
    <% @incomplete_invoices.each do |invoice| %>
    <li>Invoice #<%= link_to invoice.id %></li> 
     <% end %>
    </ul> 
   </div> 
 </section> 



